name: qiita-zenn-trend-notification

on:
  schedule:
    # UTC 0時 -> 日本時間朝9時
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: 1.1.2

      - name: Install packages
        run: poetry install --no-dev

      - name: paper-tweet-notification
        run: poetry run python src/main.py
        env:
          SLACK_INCOMING_WEBHOOK_URL: ${{ secrets.SLACK_INCOMING_WEBHOOK_URL }}
